<!DOCTYPE html>
<html>
<body style="background-image: url('static/background.jpg');">
名稱: {{ userName }}<p>
餘額: {{ balance }}<p>
<form method = "post" action = "{{ url_for('bet') }}" >
	<input type="text" name = "uid" value = "{{ uid }}" hidden>
    <button>去下注</button>
</form><p>
下注紀錄：
<div id='info_section'>
    {% for datas in data %}
    	<p>
        {{ datas }}
        </p>
    {% endfor %}
</div>

<form action="{{ url_for('login') }}">
    <input type="submit" value="登出" />
</form>

</body>
</html>