<!DOCTYPE html>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type = "text/javascript">  
function stop(gid) {  
    $.ajax(
        {
            type: "POST",
            url: "endBet",          
            data: {gid:gid},
        }
    ).done(
        function(msg){
            alert(msg);
        }
    );
}

function draw(gid,winner) { 
    $.ajax(
        {
            type: "POST",
            url: "draw",          
            data: {gid:gid,
                winner:winner},
        }
    ).done(
        function(msg){
            alert(msg);
        }
    );
}

function set_new_game() {  
    $.ajax(
        {
            type: "POST",
            url: "new_game",          
            data: {title:document.getElementById("game_title").value,
                    n1:document.getElementById("name1").value,
                    n2:document.getElementById("name2").value},
        }
    ).done(
        function(msg){
            alert(msg);
        }
    );
}

function newAccount() {  
    $.ajax(
        {
            type: "POST",
            url: "new_account",          
            data: {ac:document.getElementById("ac").value,
                    pw:document.getElementById("pw").value},
        }
    ).done(
        function(msg){
            alert(msg);
        }
    );
}

function sendMoney() {  
    $.ajax(
        {
            type: "POST",
            url: "send_money",          
            data: {uid:document.getElementById("send_money_uid").value,
                    amount:document.getElementById("send_money_amount").value},
        }
    ).done(
        function(msg){
            alert(msg);
        }
    );
}

</script> 
<html>
新增比賽<br>
比賽名稱：<input class="text" id = "game_title"> <br>
隊伍1簡稱：<input class="text" id = "name1"><br>
隊伍2簡稱：<input class="text" id = "name2"><br>
<input type="button" value = "建立" onclick="set_new_game()">
<br><br><br>
建立帳號<br>
帳號：<input class="text" id = "ac"><br>
密碼：<input class="text" id = "pw"><br>
<input type="button" value = "建立" onclick="newAccount()">
<br><br><br>
直接發錢<br>
uid：<input class="text" id = "send_money_uid"><br>
數量：<input class="text" id = "send_money_amount"><br>
<input type="button" value = "我叫你發" onclick="sendMoney()">
<br><br>


state 0是開放下注，1是關盤未結算，2是關盤並結算過了
{% for game in gameData %}
    <p>
    {{ game['title'] }}
    <input type="button" value = "停止下注" onclick="stop(this.id)" id = "{{ game['gid'] }}" style="display:inline;">
    state: {{ game['state'] }}
    <input type="button" value = "{{ game['p1'] }}獲勝" onclick="draw(this.id,'{{ game['p1'] }}')" id = "{{ game['gid'] }}" style="display:inline;">
    <input type="button" value = "{{ game['p2'] }}獲勝" onclick="draw(this.id,'{{ game['p2'] }}')" id = "{{ game['gid'] }}" style="display:inline;">
    </p>
{% endfor %}
<br><br>

<form method = "post" action = "{{ url_for('manager') }}" >
    <input type="text" name="account" value = "manager" hidden>
    <input type="text" name="pw" value = "qwerasdf" hidden>
    <input type="submit" value = "重新整理">
</form><p>

<a href="static/test.db" download>
  <img src="static/test.db" alt="資料庫備份">
</a>

<form action="{{ url_for('login') }}">
    <input type="submit" value="登出" />
</form>


</body>
</html>